*~
/venv
*.pyc
*.mo
__pycache__/
/*.sublime-project
/*.sublime-workspace
.fuse_hidden*
/static/
/media/
/.*
*.log
!.gitignore
!.gitlab-ci.yml
!.gitattributes
/*.png
/*.jpg
*_pb2.py
/tags
/docs/_build
!/.circleci/
.idea
.mypy_cache/
.DS_Store
env/
db.sqlite3